.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 2vw;
}

.login-container {
    background-color: #fff;
    padding: 3vw 5vw;
    border-radius: 1vw;
    box-shadow: 0 0.8vw 1.6vw rgba(0, 0, 0, 0.3);
    max-width: 15vw;
    max-height: 70vh;
    width: 40%;
    text-align: center;
}

h2 {
    margin-bottom: 2vw;
    font-size: 1.8vw;
    color: #333;
}

.form-container input {
    width: 90%;
    padding: 1vw;
    margin: 0.8vw 0;
    border: 0.1vw solid #ddd;
    border-radius: 0.5vw;
    font-size: 1vw;
}

.form-container button {
    width: 100%;
    padding: 1vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0.5vw;
    background-color: #007bff;
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

.oauth-options {
    margin-top: 2vw;
}

.oauth-button {
    width: 100%;
    padding: 1vw;
    margin-top: 1vw;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    font-size: 1vw;
    transition: all 0.3s ease;
}

.oauth-button.kakao {
    background-color: #FEE500;
    color: #3C1E1E;
}

.oauth-button.google {
    background-color: #DB4437;
    color: white;
}

.oauth-button:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.signup-link {
    margin-top: 1vw;
    font-size: 1vw;
    color: #555;
}

.signup-link-text {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.signup-link-text:hover {
    color: #0056b3;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 2vw;
    border-radius: 0.8vw;
    width: 20vw;
    max-height: 40vh;
    position: relative;
}

.close-button {
    position: absolute;
    top: 1vw;
    right: 1vw;
    background: none;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
}
